body{
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-right: 26px !important;
}
.navbar-brand{
    font-weight: 700;
    font-size: 22px;
}
/* carasol */
.carousel-caption h5{
    font-weight: 700;
    font-size: 48px;
}
.carousel-caption p{
    font-weight: 300;
    font-size: 16px;
} 
.carousel-caption a{
    background: #fff;
    padding: 10px 30px !important;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px !important;
}
/* Every moment is Precious start */
.write h5{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.write p{
    font-weight: 700;
    font-size: 16px;
}
.write a{
    text-decoration: none;
    background: #3F87F5;
    Padding:10px 24px !important;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
/* packages start */
.cart{
    padding: 50px 30px;
    border-radius: 26px;
    transition: .4s;
}
.cart:hover{
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.cart:hover p{
    color: #fff;
}
.cart:hover .icon{
    color: #fff;
}
.cart:hover .button{
    background: #fff;
}
.cart h1{
    font-weight: 700;
    font-size:36px ;
}
.cart h2{
    font-weight: 700;
    font-size: 28px;
}
.cart p{
    color: #848199;
    font-weight: 400;
    font-size: 15px;
}
.icon{
    font-weight: 400;
    font-size: 15px;
    color:#848199 ;
    margin-top: 15px;
}
.button{
    background: #F496D1;
    text-align: center;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 24px;
}
.button a{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #3F87F5;

}
/* happy clint */
.card{
    text-align: center !important;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: none !important;
}
.card p{
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    padding: 21px 42px;
}
.card h5{
    font-weight: 600;
    font-size: 14px;
    color: #0C1920;
}
.card small{
    font-weight: 600;
    font-size: 16px;
    color: #747474;
}
.img{
    width: 100px;
    height: 100px;
    text-align: center !important;
}
/* footer */
#footer-ab{
    background-color: #0B0D17;
    margin-top: 150px;
}
#footer-ab p{
    padding: 128px 0;
    color: #D9DBE1;
}
.app h3{
    font-weight: 500;
    font-size: 18px;
    color: #D9DBE1;
    padding-top: 56px;
}
.app a img{
    width: 135px;
    height: 40px;
}